.cell, .captioncell, .valuecell{
display: inline-block;  
}
.cell{
    background-color: cadetblue;
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 20px;
    width: 250px;
    height: 50px;
    font-family: candara;    
    text-align: center;    
}
.captioncell{
    font-size: 15px;
    color: white;
}
.valuecell{
    color: black;
    font-size: 30px;
}