#tblpanel{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
}
body{
    margin: 0px;
    padding: 0px;
}
#header{
    height: 5%;
    background-color: rgb(19, 65, 107);
    text-align: left;
    padding: 0;
}
#header > table{
    height: 100%;
    margin: 0px;  
}
#header > table td{
   
}
#navig{
    height: 85%;
    width: 200px;
    background-color: #0087c5;
    padding: 0;
}
#bdy{
    background-color: rgb(255, 255, 255);
    padding: 0;
}
#bdy > table{
    height: 100%;
    width: 100%;
    border-collapse: collapse; 
}
#searchbarid{
    height: 30px;
    vertical-align: top;
    background-color: rgb(1, 28, 59);
}
/* #searchbarid > table > tbody > tr > td{
    display: inline-block;
} */
#pageheader{
    height: 30px;
    background-color: rgb(30, 105, 148);
    vertical-align: middle;
    text-align: center;
    color: white;
}
#pageheader > h4{
    display: inline;
    font-family: candara;
}
#ftr{
    height: 10px;
    background-color: rgb(181, 219, 255);
    vertical-align: middle;
    text-align: left;
    font-family: candara;
}
#ftr > h6{
    display: inline;
    font: candara; 
}
#navig > iframe{
    border: 0px;
    padding: 0px;
    margin: 0px;
}
#mnshowbutton > img{
    height: 20;
    width: 30;
    display: inline-block;
    padding: 15px 0;
    cursor: hand;
    margin-top: 0px;
}
#mnshowbutton{ 
    height: 100%;
    width: 50px;  
    text-align: center;
    line-height: 20px;
    display: inline-block;
    padding-left: 15px;
}
#hdname{  
    display: inline-block;
    left: 20px;   
    font-family: candara;
    font-size: 30px;
    top: -15px;
    color: white;
    margin: 0px;
    margin-left: 50px;
    margin-top: 5px;
    font-style: italic;
}
#hdnamediv{
    height: 100%;
    width: 330px;
}
/* buttons */
.redcolorbutton{
    background-color: rgb(255, 91, 91);
}
.redcolorbutton:hover{
    background-color: rgb(248, 8, 0);
    color: white;  
}
.greencolorbutton{
    background-color: rgb(5, 214, 5);
}
.greencolorbutton:hover{
    background-color: rgb(7, 182, 7);
    color: white;  
}
.bluecolorbutton{
    background-color: rgb(41, 152, 243);
}
.bluecolorbutton:hover{
    background-color: rgb(118, 189, 247);
}
.lightgreencolorbutton{
    background-color: yellowgreen;
}
.lightgreencolorbutton:hover{
    background-color: rgb(107, 139, 43);
}
.button_type_one{
    height: 25px;
    width: 100px;
    border: none;
    border-radius: 4px;
    padding: 4px;
    margin: 2px;
    font-family: candara;
    font-size: small;
    cursor: hand;
}
.button_type_two{
    height: 30px;
    width: 300px;
    border: none;
    font-family: candara;
    font-size: medium;
    padding: 5px;
    margin: 2px;
    cursor: hand;
}
/* search bar style */
#bdy > table > tbody > tr > td > table{
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}
#header > table > tbody > tr > td:nth-child(2), #header > table > tbody > tr > td:nth-child(2) div{    
    width: 600px;
}

#bdy > table > tbody > tr > td > table > tbody > tr > td{
    font-family: candara;
}
#bdy > table > tbody > tr > td > table > tbody > tr > td:nth-child(1){
    width: 220px;
}
#bdy > table > tbody > tr > td > table > tbody > tr > td:nth-child(2){
    width: 18vw;
}
#bdy > table > tbody > tr > td > table > tbody > tr > td:nth-child(2) > select{
    width: 75%;
}

#bdy > table > tbody > tr > td > table > tbody > tr > td:nth-child(3){
    width: 40vw;    
}
#bdy > table > tbody > tr > td > table > tbody > tr > td:nth-child(3) > input{
   width:90%;
   margin-right: 5px;
}
#searchbarid label{
    color: white;
}
#searchbarid input, select{
    border-radius: 4px;
    height: 25px;
    border: none;
}
/* login form */

#loginform{
    display: inline-block;
    border: 1px solid rgb(109, 162, 255);
    color: white;
    height: 420px;
    width: 300px;   
    border-radius: 3px;
    padding: 25px;  
    top: 50%; 
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

}
#loginform > table{
    width: 100%;    
    border-collapse: collapse;
}
#loginform > table > tbody > tr:nth-child(1) > td{
    text-align: center;
    vertical-align: top;
    height: 200px;
    padding: 0;
    margin: 0; 
}
#loginform > table > tbody > tr:nth-child(1) > td > img{
    height: 112px;
    width: 112px;
   
}
#loginform > table > tbody > tr:nth-child(1) > td > h3{
    font-family: candara;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    height: 10px;
}
#loginform > table > tbody > tr + tr > td:nth-child(1){
    width: 30%;
    color: white;
    font-family: candara;    
}
#loginform > table > tbody > tr > td > label{
    color: white;
    font-family: candara;
}
#loginform > table > tbody > tr + tr > td {
    height: 30px;
}
#loginform > table > tbody > tr:nth-child(5) > td, #loginform > table > tbody > tr:nth-child(6) > td{
    text-align: center;
}
#loginform > table > tbody > tr:nth-child(3) > td:nth-child(2) > input,  #loginform > table > tbody > tr:nth-child(2) > td:nth-child(2) > input{ 
    border: none;
    border-radius: 3px;    
    height: 40px;
    padding: 5px;
    margin: 3px;
    width: 100%;
    font-family: candara;
}
/* create account */
#cacid{
    height: 680px;
    width: 400px;
    
    display: inline-block;    
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cacid table{
    width: 100%;
    border-collapse: collapse;
}
#cacid > table > tbody > tr:nth-child(1) > td{
    text-align: center;
    vertical-align: top;
    height: 200px;
    padding: 0;
    margin: 0;  
}

#cacid > table > tbody > tr:nth-child(1) > td > img{
    height: 112px;
    width: 112px;   
}
#cacid > table > tbody > tr:nth-child(1) > td > h3{
    font-family: candara;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    height: 10px;
}
#cacid > table > tbody > tr + tr > td:nth-child(1){
    width: 30%;
    color: white;
    font-family: candara;    
}
#cacid label{
    color: white;
    font-family:  candara;
}
#cacid input[type=text], #cacid input[type=email], #cacid input[type=date], #cacid input[type=password]{
    padding: 5px;
    margin: 2px;
    border-radius: 3px;
    border: none;
    width: 100%; 
}
#cacid input[type=file]{  
    color: white;
    padding: 5px;
    margin: 2px;
    width: 100%;
    border: 1px solid white;
    border-radius: 3px;
}
#cacid > table > tbody > tr:nth-child(14) > td, #cacid > table > tbody > tr:nth-child(15) > td{
    text-align: center;
    padding: 0px;
}
/* placeholder */
.redplace::placeholder{
    color: red !important;    
}
.redplace{
    border: 2px solid red !important; 
}
.blackplace::placeholder{
    color: black !important; 
}
.blackplace{
    border: none !important;
}
/* main body */
#contentbody{
    padding: 0;
    height: 100%;
}
/* body frame */
#bodyframe{
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;   
}
#bodyframe > body{
    background-color: red;
}
/* dashboard */
#dashpanel{
    height: 100%; width: 100%; border-collapse: collapse;    
}
#dashpanel > tbody > tr:nth-child(1) > td{
    height: 60%;  
    padding: 0;
    text-align: center;
    background-color: black
}
#dashpanel >  tbody > tr:nth-child(2) > td{
    background-color: rgb(0, 89, 131);
    border-top: 2px solid rgb(255, 255, 255);
    /* border: 1px solid red; */
}
#tbldash{
    margin: 0;  
    margin: 20px;    
    display: inline-block;
}
#tbldash > tbody > tr  > td{       
    display: inline-block;
}
#tbldash > tbody > tr:nth-child(1)  > td{
    height: 120px;
    width: 200px;
    margin: 4px;
    background-color: rgb(0, 117, 212);
    border-radius: 5px;
    cursor: hand;
}
#tbldash > tbody > tr:nth-child(1)  > td:hover{
    background-color: rgb(2, 138, 250);
}

#noticeboard{
    vertical-align: top;
    padding: 20px;
}
#noticeboard h4{
    font-family: candara;
}
#noticeboard > span{
    text-align: center;
}
#noticeboard ul{
    height: 100%;
    width: 100%;
    padding: 0;
}
#noticeboard li{
    list-style-type: none;
    height: 30px;
    width: 100%;
    margin-bottom: 1px;
    background-color: rgb(255, 255, 255);
}
.updowndiv{
    width: 100%;
    height: 100%;  
}
.dashheader, .dashvalue{
    display: block;
    font-family: verdana;
}
.dashheader{
    font-size: 25px;
    color: white;
    margin-top: 30%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}
.dashvalue{
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.container{
    width: 100%;  
    height: 100%;
    margin-top: 53%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}
.dashitem{
    text-align: center;
    vertical-align: middle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}
#noticeheader{
    color: white;
    font-family: candara;
    font-size: 14px;
}
#notice > li:hover{
    cursor: hand;
    background-color: lightgray;
}
.noticedate{
    display: inline-block;
    height: 100%;
    width: 150px;
    background-color: black;
    color: white;
    text-align: center;  
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 5px;
}
#notice li{
    overflow: hidden;
}

/* .noticedate span{
    display: table-cell;
    vertical-align: middle;
    width: 100%; 
    text-align: center;
}
.noticedata{
    display: table;
}
.noticeholder{
    display: table;
}
.noticeholder .noticedate, .noticeholder .noticedata{
    display: table-cell;
} */
/* .leftdiv, .rightdiv{
    display: inline-block;
    width: 48%;
    height: 100%;
    width: 5px;
    border: 1px solid red;
    left: 0;
}
.leftdiv{
   
} */

.showbutton{
    border: none;
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-color: transparent;
    background-position: center;
}
.showbutton:hover{
    background-color: rgb(182, 182, 182);
    cursor: hand;  
}
.showbutton{
    background-image: url("show.png");
}